//<script type="text/jsx">

function FormularioRegistroGrupo() {
  const history = useHistory();
  const [form] = Form.useForm();
  const { id } = useParams();
  const [initialValues, setInitialValues] = useState(undefined);
  const Tooltip = window.antd.Tooltip;

  useEffect(() => {
    if (id) {
      google.script.run
        .withSuccessHandler(res => {
          const grupo = JSON.parse(res);
          console.log(grupo);
          setInitialValues(grupo);
        }).listarGrupos(id)
    }
  }, [])

  const guardarFormulario = (datosFormulario) => {


    if (id) {
      google.script.run
        .withSuccessHandler(({ titulo, descripcion }) => {
          notificacionTareaTerminada(titulo, descripcion);
          setInitialValues(undefined);
          form.resetFields();
          history.push('/welcome');
        }).actualizarGrupo(id, JSON.stringify(datosFormulario));
      } else {
        const id = v4();
        google.script.run
        .withSuccessHandler(({ titulo, descripcion }) => {
          notificacionTareaTerminada(titulo, descripcion);
          form.resetFields();
          history.push('/welcome');
        }).guardarGrupo(JSON.stringify({ id, ...datosFormulario }));
    }

  }

  const { Option } = Select;

  const fechaCreacion = moment().format('YYYY-MM-DD'); 

  const Formulario = () => {
    return (
      <div style={{ display: 'flex', flexDirection: 'column', justifyContent: 'center', alignItems: 'center', backgroundImage: 'url("https://res.cloudinary.com/dt1aacjqj/image/upload/v1716766791/fondo1_jgbisn.jpg")', backgroundSize: 'cover', backgroundPosition: 'center', height: '100vh' }}>
          <img
        src="https://res.cloudinary.com/dt1aacjqj/image/upload/v1716766791/fondo1_jgbisn.jpg"
        alt="Fondo"
        style={{ position: "absolute", top: "0", left: "0", width: "100%", height: '100vh', zIndex: "-1", animation: "movimientoFondo 20s infinite linear", objectFit: "fill"}}/>
        <div style={{justifyContent: 'center', alignItems: 'center'}}>
           <div style={{ maxWidth: '100%', margin: '0 auto', padding: '20px', boxShadow: '0 4px 6px rgba(0, 0, 0, 0.1)', borderRadius: '8px', backgroundColor: 'rgba(34, 34, 34, 0.7)', color: '#E2F5EF'}}>
            <h2 className="text-center font-bold text-xl" style={{ paddingTop: '1.5rem', paddingBottom: '1.5rem' }}>Registro de grupos</h2>
        <Form
          initialValues={initialValues}
          form={form}
          onFinish={guardarFormulario}
          layout="vertical"
          style={{ maxWidth: '100%' }}
        >
          
      <div >
            {/* Primera fila */}
            <div style={{ display: 'flex', gap: '1rem', justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap'}}>
              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="groupName"
                label="Nombre del grupo"
                rules={[{ required: true, message: "El nombre del grupo es necesario para el registro" }]}
                style={{ marginBottom: '0' }}
              >
                <Input />
              </Item>
              </div>

              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="cuentameCode"
                label="Código Cuentame"
                rules={[{ required: true, message: "El código cuentame es necesario para el registro" }]}
                style={{ marginBottom: '0' }}
                >
                <Input />
              </Item>
              </div>


            <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="address"
                label="Dirección"
                rules={[{ required: true, message: "Dirección de ubicación del servicio" }]}
                style={{ marginBottom: '0' }}
              >
                <Input />
              </Item>
              </div>

              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="municipality"
                label="Municipio"
                rules={[{ required: true, message: "El municipio de ubicación del grupo es requerido" }]}
                style={{ marginBottom: '0' }}
              >
                <Input />
              </Item>
            </div>
            </div>
    
            {/* Segunda fila */}
            <div style={{ display: 'flex', gap: '1rem', justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap'}}>
              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="neighborhood"
                label="Barrio"
                rules={[{ required: true, message: "El barrio es requerido" }]}
                style={{ marginBottom: '0' }}
              >
                 <Input />
              </Item>
              </div>

              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="isActive"
                label="Estado"
                rules={[{ required: true, message: "Por favor selecciona el estado del grupo" }]}
                style={{ marginBottom: '0' }}
              >
                <Select className="bg-gray-200" style={{ width: '100%' }} placeholder="Estado del grupo">
                  <Option value="CC">Activo</Option>
                  <Option value="TI">Inactivo</Option>
                </Select>
              </Item>
              </div>

              <div style={{justifyContent: 'center', alignItems: 'center', flexWrap: 'wrap',  width: '165px'}}>
              <Item
                name="fechaCreacion"
                label="Fecha de Creación"
                initialValue={fechaCreacion}
                style={{ marginBottom: '0' }}
              >
                <Input disabled className="bg-gray-200" />
              </Item>
              </div>

            </div>
          </div>
    
          <div style={{ textAlign: 'center', marginTop: '1rem' }}>
            <Button htmlType="submit" style={{ padding: '0.5rem 1rem', backgroundColor: '#1890ff', color: '#fff', borderRadius: '9999px', cursor: 'pointer', border: 'none' }}>
              Enviar
            </Button>
          </div>
        </Form>
      </div>
    </div>
    </div>
    
    )
  }

  return (
    <span>

      {
        (id && initialValues)
          ? <Formulario />
          : <Formulario />
      }

    </span>
  )
}

//</script>