//<script type="text/jsx">

// Función para obtener los recursos humanos del servidor y establecerlos en el estado
const obtenerRRHH = (setRRHHData) => {
  // Mostrar una notificación mientras se obtienen los datos
  notificacionObteniendoDatos("Obteniendo lista de cargos desde el servidor");
  
  // Llamada a la función de Google Apps Script para obtener la lista de recursos humanos
  google.script.run
    .withSuccessHandler(res => {
      try {
        // Parsear la respuesta JSON
        const rrhh = JSON.parse(res);
        // Ordenar los recursos humanos alfabéticamente por nombre
        rrhh.sort((a, b) => (a.nombre > b.nombre) ? 1 : -1);
        // Establecer los recursos humanos en el estado
        setRRHHData(rrhh);
        // Cerrar la notificación de carga
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarRRHH();
};

function Notificaciones() {
  const [rrhhData, setRRHHData] = useState([]);
  const [selectedCargos, setSelectedCargos] = useState([]);
  const [title, setTitle] = useState('');
  const [message, setMessage] = useState('');
  const [startDate, setStartDate] = useState(null);
  const [endDate, setEndDate] = useState(null);
  const [startTime, setStartTime] = useState(null);
  const [endTime, setEndTime] = useState(null);

  // useEffect para cargar contratos, grupos y rrhh al montar el componente
  useEffect(() => {
    obtenerRRHH(setRRHHData);
  }, []);

  // Formatear fechas y horas
  const formatDatesAndTimes = () => {
    return {
      formattedStartDate: startDate ? moment(startDate).format('DD-MMMM-YYYY') : '',
      formattedEndDate: endDate ? moment(endDate).format('DD-MMMM-YYYY') : '',
      formattedStartTime: startTime ? moment(startTime).format('hh:mm A') : '',
      formattedEndTime: endTime ? moment(endTime).format('hh:mm A') : '',
    };
  };

  const enviarCorreo = (notificationDetails) => {
    enviarNotificaciones();
    google.script.run
      .withSuccessHandler(response => {
        Swal.close(); 
      })
      .withFailureHandler(error => {
        notificacionError('Hubo un error al enviar los correos.');
        console.error('Error al enviar correos:', error);
         
      })
      .enviarCorreoACargosSeleccionados(
        notificationDetails.selectedCargos,
        notificationDetails.message,
        notificationDetails.title,
        notificationDetails.startDate,
        notificationDetails.endDate,
        notificationDetails.startTime,
        notificationDetails.endTime
      );
  };

  const agregarACalendar = (notificationDetails) => {
    // Lógica de la primera función adicional
    console.log('Ejecutando agregarACalendar con:', notificationDetails);
  };

  const guardarEnBaseDeDatos = (notificationDetails) => {
    // Lógica de la segunda función adicional
    console.log('Ejecutando guardarEnBaseDeDatos con:', notificationDetails);
  };

  const handleSubmit = () => {
    const { formattedStartDate, formattedEndDate, formattedStartTime, formattedEndTime } = formatDatesAndTimes();

    const notificationDetails = {
      message,
      title,
      startDate: formattedStartDate,
      endDate: formattedEndDate,
      startTime: formattedStartTime,
      endTime: formattedEndTime,
      selectedCargos
    };

    console.log(notificationDetails);

    // Llamar a las funciones necesarias
    enviarCorreo(notificationDetails);
    agregarACalendar(notificationDetails);
    guardarEnBaseDeDatos(notificationDetails);
  };

  const uniqueCargos = [...new Set(rrhhData.map(item => item.cargo))];

  return (
    <div className="flex flex-col items-center justify-center min-h-screen p-4" style={{ backgroundImage: 'url("https://res.cloudinary.com/dt1aacjqj/image/upload/v1721082302/fondo-abstracto-azul-formas-geometricas_qt98ip.jpg")', backgroundSize: 'cover', backgroundPosition: 'center', height: '100vh' }}>
      <Space direction="vertical" size="small" style={{ display: 'flex', width: '100%', maxWidth: '500px', background: 'white', padding: '20px', borderRadius: '8px', boxShadow: '0 4px 8px rgba(0, 0, 0, 0.1)' }}>
      

        <Select
          mode="multiple"
          placeholder="Seleccione cargo/s"
          value={selectedCargos}
          onChange={setSelectedCargos}
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        >
          {uniqueCargos.map(cargo => (
            <Select.Option key={cargo} value={cargo}>
              {cargo}
            </Select.Option>
          ))}
        </Select>

        <Input
          value={title}
          onChange={(e) => setTitle(e.target.value)}
          placeholder="Ingrese el título de la notificación"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <TextArea
          value={message}
          onChange={(e) => setMessage(e.target.value)}
          placeholder="Ingrese el mensaje de la notificación"
          rows={4}
          style={{ width: '100%', resize: 'none', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <DatePicker
          value={startDate}
          onChange={(date) => setStartDate(date)}
          placeholder="Fecha de inicio 📅"
          format="DD-MM-YYYY"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <TimePicker
          value={startTime}
          onChange={(time) => setStartTime(time)}
          placeholder="Hora de inicio ⏰"
          use12Hours
          format="h:mm a"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <DatePicker
          value={endDate}
          onChange={(date) => setEndDate(date)}
          placeholder="Fecha de fin 📆"
          format="DD-MM-YYYY"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <TimePicker
          value={endTime}
          onChange={(time) => setEndTime(time)}
          placeholder="Hora de fin ⌚"
          use12Hours
          format="h:mm a"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <Button type="primary" onClick={handleSubmit} style={{ width: '100%', borderRadius: '4px' }}>
          Enviar Notificación
        </Button>
      </Space>
    </div>
  );
}

//</script>