//<script type="text/jsx">

function Notificaciones() {
  const [message, setMessage] = useState('');
  const [startDate, setStartDate] = useState(null);
  const [endDate, setEndDate] = useState(null);
  const [startTime, setStartTime] = useState(null);
  const [endTime, setEndTime] = useState(null);

  const handleSubmit = () => {
    const notificationDetails = {
      message,
      startDate: startDate ? moment(startDate).utc().format('YYYY-MM-DDTHH:mm:ss[Z]') : '',
      endDate: endDate ? moment(endDate).utc().format('YYYY-MM-DDTHH:mm:ss[Z]') : '',
      startTime: startTime ? moment(startTime).utc().format('YYYY-MM-DDTHH:mm:ss[Z]') : '',
      endTime: endTime ? moment(endTime).utc().format('YYYY-MM-DDTHH:mm:ss[Z]') : '',
    };
    console.log(notificationDetails);
    alert(`Notification Details:\nMessage: ${notificationDetails.message}\nStart Date: ${notificationDetails.startDate}\nEnd Date: ${notificationDetails.endDate}\nStart Time: ${notificationDetails.startTime}\nEnd Time: ${notificationDetails.endTime}`);
  };

  return (
    <div className="flex flex-col items-center justify-center min-h-screen  p-4">
      <Space direction="vertical" size="small" style={{ display: 'flex', width: '100%', maxWidth: '500px', background: 'white', padding: '20px', borderRadius: '8px', boxShadow: '0 4px 8px rgba(0, 0, 0, 0.1)' }}>
        
        <TextArea
          value={message}
          onChange={(e) => setMessage(e.target.value)}
          placeholder="Ingrese el mensaje de la notificación"
          rows={4}
          style={{ width: '100%', resize: 'none', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <DatePicker
          value={startDate}
          onChange={(date) => setStartDate(date)}
          placeholder="Fecha de inicio ✔"
          format="DD-MM-YYYY"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <TimePicker
          value={startTime}
          onChange={(time) => setStartTime(time)}
          placeholder="Hora de inicio"
          use12Hours
          format="h:mm a"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <DatePicker
          value={endDate}
          onChange={(date) => setEndDate(date)}
          placeholder="Fecha de fin"
          format="DD-MM-YYYY"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <TimePicker
          value={endTime}
          onChange={(time) => setEndTime(time)}
          placeholder="Hora de fin"
          use12Hours
          format="h:mm a"
          style={{ width: '100%', borderColor: '#ccc', borderRadius: '4px' }}
        />

        <Button type="primary" onClick={handleSubmit} style={{ width: '100%', borderRadius: '4px' }}>
          Enviar Notificación
        </Button>
      </Space>
    </div>
  );
}

//</script>
