// <script type="text/jsx">

function CreacionMercados() {
  const [form] = Form.useForm();
  const [productos, setProductos] = useState([]);
  const [imageUrl, setImageUrl] = useState(null);
  const [editingProduct, setEditingProduct] = useState(null);
  const [isModalVisible, setIsModalVisible] = useState(false);

  const guardarProducto = (producto) => {
    console.log("Guardando producto:", producto);
    notificacionGuardando("Guardando el producto");
    google.script.run
      .withSuccessHandler(({ titulo, descripcion }) => {
        console.log("Producto guardado:", { titulo, descripcion });
        notificacionTareaTerminada(titulo, descripcion);
        form.resetFields();
        setImageUrl(null);
        listarProductos();
        Swal.close();
      })
      .guardarMercados(JSON.stringify(producto)); 
  };

  const listarProductos = () => {
    console.log("Listando productos");
    google.script.run
      .withSuccessHandler((productos) => {
        console.log("Productos listados:", productos);
        setProductos(JSON.parse(productos));
      })
      .listarProductosMercados();
  };

  useEffect(() => {
    listarProductos();
  }, []);

  const handleSubmit = (values) => {
    console.log("Formulario enviado:", values);
    const { nombreProducto, grupoAlimentario, presentacion } = values;
    const producto = {
      id: v4(), 
      fechaCreacion: moment().format('YYYY-MM-DD'), 
      nombreProducto: nombreProducto.toUpperCase(),
      grupoAlimentario: grupoAlimentario,
      presentacion: presentacion,
      img: imageUrl, 
    };
    console.log("Producto a guardar:", producto);
    guardarProducto(producto);
  };

  const subirImagen = (file) => {
    console.log("Subiendo imagen:", file);
    const formData = new FormData();
    formData.append('file', file);
    formData.append('upload_preset', 'ml_default'); 

    fetch('https://api.cloudinary.com/v1_1/dt1aacjqj/image/upload', {
      method: 'POST',
      body: formData,
    })
      .then(response => response.json())
      .then(data => {
        console.log("Respuesta de Cloudinary:", data);
        if (data.secure_url) {
          setImageUrl(data.secure_url);
          form.setFieldsValue({ img: data.secure_url });
          console.log("URL de la imagen subida:", data.secure_url);
          notification.success({
            message: 'Imagen subida con éxito',
            description: `URL: ${data.secure_url}`,
          });
        } else {
          throw new Error('Error al subir imagen a Cloudinary');
        }
      })
      .catch(error => {
        console.error("Error al subir imagen:", error);
        notification.error({
          message: 'Error',
          description: `Error al subir imagen: ${error.message}`,
        });
      });
  };

  const handleImageUpload = ({ file }) => {
    console.log("Manejando subida de imagen:", file);
    subirImagen(file);
  };

  const uploadProps = {
    name: 'file',
    customRequest: handleImageUpload,
    showUploadList: false,
  };

  const editarProducto = (record) => {
    console.log("Editando producto:", record);
    // Lógica para editar el producto
  };

  const eliminarProducto = (record) => {
    console.log("Eliminando producto:", record);
    // Lógica para eliminar el producto
  };

  const columns = [
    {
      title: 'No.',
      dataIndex: 'number',
      key: 'number',
      render: (text, record, index) => index + 1,
    },
    {
      title: 'Nombre del Producto',
      dataIndex: 'nombreProducto',
      key: 'nombreProducto',
      sorter: (a, b) => a.nombreProducto.localeCompare(b.nombreProducto),
    },
    {
      title: 'Grupo Alimentario',
      dataIndex: 'grupoAlimentario',
      key: 'grupoAlimentario',
      sorter: (a, b) => a.grupoAlimentario.localeCompare(b.grupoAlimentario),
    },
    {
      title: 'Presentación',
      dataIndex: 'presentacion',
      key: 'presentacion',
    },
    {
      title: 'Imagen',
      dataIndex: 'img',
      key: 'img',
      render: (text, record) => (
        <img src={text} alt={record.nombreProducto} style={{ width: '50px', height: '50px', objectFit: 'cover' }} />
      ),
    },
    {
      title: 'Acciones',
      key: 'acciones',
      render: (text, record) => (
        <div>
            <Button type="link" onClick={() => editarProducto(record)}>Editar</Button>
            <Button type="link" onClick={() => eliminarProducto(record)}>Eliminar</Button>
        </div>
      ),
    },
  ];

  return (
    <div style={{ display: 'flex', justifyContent: 'center', alignItems: 'flex-start', marginTop: '6%' }}>
      <div style={{ marginRight: '20px', width: '50%' }}>
        <Form
          form={form}
          onFinish={handleSubmit}
          layout="vertical"
          style={{ 
            width: '100%', 
            padding: '20px', 
            boxShadow: '0 4px 8px rgba(0, 0, 0, 0.1)', 
            borderRadius: '8px', 
            backgroundColor: '#C497E5', 
            color: '#333', 
            marginBottom: '20px',
          }}
        >
          <h2 style={{ textAlign: 'center', marginBottom: '2rem' }}>Registro de Producto</h2>
  
          <Form.Item
            name="nombreProducto"
            label="Nombre del Producto"
            rules={[{ required: true, message: 'Por favor ingrese el nombre del producto' }]}
          >
            <Input placeholder="Nombre del Producto" />
          </Form.Item>
  
          <Form.Item
            name="grupoAlimentario"
            label="Grupo Alimentario"
            rules={[{ required: true, message: 'Por favor seleccione el grupo alimentario' }]}
          >
            <Select placeholder="Seleccione el Grupo Alimentario">
              <Select.Option value="CEREALES">CEREALES</Select.Option>
              <Select.Option value="RAICES, TUBÉRCULOS Y PLÁTANOS">RAICES, TUBÉRCULOS Y PLÁTANOS</Select.Option>
              <Select.Option value="FRUTAS & VERDURAS">FRUTAS & VERDURAS</Select.Option>
              <Select.Option value="CARNES, HUEVOS, PECES">CARNES, HUEVOS, PECES</Select.Option>
              <Select.Option value="LEGUMINOSAS, MEZCLAS VEGETALES">LEGUMINOSAS, MEZCLAS VEGETALES</Select.Option>
              <Select.Option value="LÁCTEOS & DERIVADOS">LÁCTEOS & DERIVADOS</Select.Option>
            </Select>
          </Form.Item>
  
          <Form.Item
            name="presentacion"
            label="Presentación"
            rules={[{ required: true, message: 'Por favor ingrese la presentación del producto' }]}
          >
            <Input placeholder="Presentación del Producto" />
          </Form.Item>
  
          <Form.Item
            name="img"
            label="Imagen"
            rules={[{ required: true, message: 'Por favor suba una imagen del producto' }]}
          >
            <Upload {...uploadProps}>
              <Button icon={<UploadOutlined />}>Seleccionar Imagen</Button>
            </Upload>
            {imageUrl && <img src={imageUrl} alt="Imagen del producto" style={{ marginTop: '10px', width: '100px', height: '100px', objectFit: 'cover' }} />}
          </Form.Item>
  
          <Form.Item style={{ textAlign: 'center' }}>
            <Button type="primary" htmlType="submit">
              Guardar Producto
            </Button>
          </Form.Item>
        </Form>
      </div>
  
      <div style={{ width: '50%', backgroundColor: '#66ff66', padding: '10px', boxShadow: '0 4px 8px rgba(0, 0, 0, 0.1)', borderRadius: '8px' }}>
        <Table
          columns={columns}
          dataSource={productos.map((producto, index) => ({
            ...producto,
            key: producto.id 
          }))}
          pagination={false}
          style={{ maxWidth: '100%' }}
        />
      </div>
    </div>
  );  
}
// </script>