//<script type="text/jsx">

// Función para obtener los contratos del servidor y establecerlos en el estado
const obtenerContratos = (setContractData) => {
  // Mostrar una notificación mientras se obtienen los datos
  notificacionObteniendoDatos("Obteniendo la información de contratos desde el servidor");
  
  // Llamada a la función de Google Apps Script para obtener la lista de contratos
  google.script.run
    .withSuccessHandler(res => {
      try {
        // Parsear la respuesta JSON
        const contratos = JSON.parse(res);
        // Ordenar los contratos alfabéticamente por nombre
        contratos.sort((a, b) => (a.nombreDelContrato > b.nombreDelContrato) ? 1 : -1);
        // Establecer los contratos en el estado
        setContractData(contratos);
        // Cerrar la notificación de carga
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarContratos();
};

// Función para obtener los grupos del servidor y establecerlos en el estado
const obtenerGrupos = (setGruposData) => {
  // Mostrar una notificación mientras se obtienen los datos
  notificacionObteniendoDatos("Obteniendo lista de grupos desde el servidor");
  
  // Llamada a la función de Google Apps Script para obtener la lista de grupos
  google.script.run
    .withSuccessHandler(res => {
      try {
        // Parsear la respuesta JSON
        const grupos = JSON.parse(res);
        // Ordenar los grupos alfabéticamente por nombre
        grupos.sort((a, b) => (a.nombreGrupo > b.nombreGrupo) ? 1 : -1);
        // Establecer los grupos en el estado
        setGruposData(grupos);
        // Cerrar la notificación de carga
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarGrupos();
};

// Función para obtener los recursos humanos del servidor y establecerlos en el estado
const obtenerRRHH = (setRRHHData) => {
  // Mostrar una notificación mientras se obtienen los datos
  notificacionObteniendoDatos("Obteniendo lista de recursos humanos desde el servidor");
  
  // Llamada a la función de Google Apps Script para obtener la lista de recursos humanos
  google.script.run
    .withSuccessHandler(res => {
      try {
        // Parsear la respuesta JSON
        const rrhh = JSON.parse(res);
        // Ordenar los recursos humanos alfabéticamente por nombre
        rrhh.sort((a, b) => (a.nombre > b.nombre) ? 1 : -1);
        // Establecer los recursos humanos en el estado
        setRRHHData(rrhh);
        // Cerrar la notificación de carga
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarRRHH();
};

// Componente principal de Relaciones
const Relaciones = () => {
  // Definir los estados del componente
  const [contractData, setContractData] = useState([]); // Lista de contratos
  const [gruposData, setGruposData] = useState([]); // Lista de grupos
  const [rrhhData, setRRHHData] = useState([]); // Lista de recursos humanos
  const [filteredGruposData, setFilteredGruposData] = useState([]); // Lista de grupos filtrados (Grupos Vs Contrato)
  const [filteredGruposDataCoordinador, setFilteredGruposDataCoordinador] = useState([]); // Lista de grupos filtrados (Grupos Vs Coordinador)
  const [filteredGruposDataAuxAdmin, setFilteredGruposDataAuxAdmin] = useState([]); // Lista de grupos filtrados (Grupos Vs Coordinador)
  const [filteredGruposDataApoyoPsicosocial, setFilteredGruposDataApoyoPsicosocial] = useState([]); // Lista de grupos filtrados (Grupos Vs Coordinador)
  const [filteredGruposDataNutricionista, setFilteredGruposDataNutricionista] = useState([]); // Lista de grupos filtrados (Grupos Vs Coordinador)
  const [filteredGruposDataApoyoNutricional, setFilteredGruposDataApoyoNutricional] = useState([]); // Lista de grupos filtrados (Grupos Vs Apoyo Nutricional)
  const [selectedContracts, setSelectedContracts] = useState({}); // Contratos seleccionados para cada grupo
  const [selectedContractsCoordinador, setSelectedContractsCoordinador] = useState({}); // Contratos seleccionados para cada grupo (Grupos Vs Coordinador)
  const [selectedContractsAuxAdministrativo, setSelectedContractsAuxAdministrativo] = useState({});
  const [selectedContractsApoyoPsicosocial, setSelectedContractsApoyoPsicosocial] = useState({});
  const [selectedContractsNutricionista, setSelectedContractsNutricionista] = useState({});
  const [selectedContractsApoyoNutricional, setSelectedContractsApoyoNutricional] = useState({});
  const [searchTextGrupos, setSearchTextGrupos] = useState(''); // Texto de búsqueda para grupos
  const [searchTextDocente, setSearchTextDocente] = useState(''); // Texto de búsqueda para docentes
  const [searchTextAuxAdmin, setSearchTextAuxAdmin] = useState(''); // Texto de búsqueda para docentes
  const [searchTextApoyoPsicosocial, setSearchTextApoyoPsicosocial] = useState(''); // Texto de búsqueda para docentes
  const [searchTextNutricionista, setSearchTextNutricionista] = useState(''); // Texto de búsqueda para docentes
  const [searchTextApoyoNutricional, setSearchTextApoyoNutricional] = useState(''); // Texto de búsqueda para Apoyo Nutricional
  const Tooltip = window.antd.Tooltip;
  const { Panel } = Collapse;
  const { Option } = window.antd.Select;

  // useEffect para cargar contratos, grupos y rrhh al montar el componente
  useEffect(() => {
    obtenerContratos(setContractData);
    obtenerGrupos((data) => {
      setGruposData(data);
      setFilteredGruposData(data);
      setFilteredGruposDataCoordinador(data);
      setFilteredGruposDataAuxAdmin(data);
      setFilteredGruposDataApoyoPsicosocial(data);
      setFilteredGruposDataNutricionista(data);
      setFilteredGruposDataNutricionista(data);
      setFilteredGruposDataApoyoNutricional(data); 
    });
    obtenerRRHH(setRRHHData);
  }, []);

  const coordinadores = rrhhData.filter(rrhh => rrhh.cargo === 'Coordinador/a');
  const auxAdministrativos = rrhhData.filter(rrhh => rrhh.cargo === 'Aux. Administrativo');
  const apoyoPsicosocial = rrhhData.filter(rrhh => rrhh.cargo === 'Apoyo psicosocial');
  const nutricionistas = rrhhData.filter(rrhh => rrhh.cargo === 'Nutricionista');
  const apoyoNutricional = rrhhData.filter(rrhh => rrhh.cargo === 'Apoyo nutricional');

  // formato que deja 04/Jul/2024
  const formatFecha = (fecha) => {
    const date = new Date(fecha);
    const day = String(date.getDate()).padStart(2, '0');
    const monthNames = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];
    const month = monthNames[date.getMonth()];
    const year = date.getFullYear();
    return `${day}/${month}/${year}`;
  };

  // SearchGrupos (Grupos Vs Contrato)
  const handleSearchGrupos = (value) => {
    setSearchTextGrupos(value);
    if (value === '') {
      setFilteredGruposData(gruposData);
    } else {
      const filteredGrupos = gruposData.filter(grupo =>
        grupo.groupName.toLowerCase().includes(value.toLowerCase())
      );
      setFilteredGruposData(filteredGrupos);
    }
  };

    // SearchGrupos (Grupos Vs Coordinador)
    const handleSearchCoordinador = (value) => {
      setSearchTextDocente(value);
      if (value === '') {
        setFilteredGruposDataCoordinador(gruposData);
      } else {
        const filteredGruposCoordinador = gruposData.filter(grupo =>
          grupo.groupName.toLowerCase().includes(value.toLowerCase())
        );
        setFilteredGruposDataCoordinador(filteredGruposCoordinador);
      }
    };

   // SearchGrupos (Grupos Vs AuxAdmin)
   const handleSearchAuxAdmin = (value) => {
          setSearchTextAuxAdmin(value);
          if (value === '') {
            setFilteredGruposDataAuxAdmin(gruposData);
          } else {
            const filteredGrupos = gruposData.filter(grupo =>
              grupo.groupName.toLowerCase().includes(value.toLowerCase())
            );
            setFilteredGruposDataAuxAdmin(filteredGrupos);
          }
        };

// SearchGrupos (Grupos Vs PsicoSocial)
  const handleSearchPsicoSocial = (value) => {
          setSearchTextApoyoPsicosocial(value);
          if (value === '') {
            setFilteredGruposDataApoyoPsicosocial(gruposData);
          } else {
            const filteredGrupos = gruposData.filter(grupo =>
              grupo.groupName.toLowerCase().includes(value.toLowerCase())
            );
            setFilteredGruposDataApoyoPsicosocial(filteredGrupos);
          }
        };

// SearchGrupos (Grupos Vs Nutri)
const handleSearchNutricionista = (value) => {
  setSearchTextNutricionista(value);
  if (value === '') {
    setFilteredGruposDataNutricionista(gruposData);
  } else {
    const filteredGrupos = gruposData.filter(grupo =>
      grupo.groupName.toLowerCase().includes(value.toLowerCase())
    );
    setFilteredGruposDataNutricionista(filteredGrupos);
  }
};

// SearchGrupos (Grupos Vs Apoyo Nutricional)
const handleSearchApoyoNutricional = (value) => {
  setSearchTextApoyoNutricional(value);
  if (value === '') {
    setFilteredGruposDataApoyoNutricional(gruposData);
  } else {
    const filteredGrupos = gruposData.filter(grupo =>
      grupo.groupName.toLowerCase().includes(value.toLowerCase())
    );
    setFilteredGruposDataApoyoNutricional(filteredGrupos);
  }
};

//manejo de estados en el select. 
  const handleContractSelectCoordinador = (groupId, value) => {
    setSelectedContractsCoordinador(prevState => ({
      ...prevState,
      [groupId]: value
    }));
  };

  //manejo de estados en el select. 
  const handleContractSelectAuxAdministrativo = (grupoId, value) => {
    setSelectedContractsAuxAdministrativo(prevState => ({
      ...prevState,
      [grupoId]: value
    }));
  };

  //manejo de estados en el select. 
  const handleContractSelectPsicoSocial = (grupoId, value) => {
    setSelectedContractsApoyoPsicosocial(prevState => ({
      ...prevState,
      [grupoId]: value
    }));
  };

// manejo de estados en el select. 
const handleContractSelectNutricionista = (grupoId, value) => {
  setSelectedContractsNutricionista(prevState => ({
    ...prevState,
    [grupoId]: value
  }));
};

// manejo de estados en el select.
const handleContractSelectApoyoNutricional = (grupoId, value) => {
  setSelectedContractsApoyoNutricional(prevState => ({
    ...prevState,
    [grupoId]: value
  }));
};
  
  // Actualizar el grupo con el contrato seleccionado (Grupos Vs Contrato)
  const handleActualizarGrupoClick = (grupoId, contratoId) => {
    const contrato = contractData.find(contract => contract.id === contratoId);
    if (!contrato) {
      console.error('Contrato no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el contrato número ${contrato.contractNumber} - ${contrato.nombreDelContrato}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      contractId: contratoId,
      contratoGrupoMunicipio: `${contrato.contractNumber} - ${contrato.nombreDelContrato}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };

  // Actualizar el grupo con el contrato seleccionado (Grupos Vs Coordinador)
  const handleActualizarGrupoClickCoordinador = (grupoId, coordinadorId) => {
    const coordinador = coordinadores.find(coordinador => coordinador.id === coordinadorId);
    if (!coordinador) {
      console.error('Coordinador no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el coordinador ${coordinador.nombreCompleto}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      coordinadorId: coordinadorId,
      coordinadorNombre: `${coordinador.nombreCompleto}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };

  const handleActualizarGrupoClickAuxAdministrativo = (grupoId, auxAdministrativoId) => {
    const auxAdministrativo = auxAdministrativos.find(aux => aux.id === auxAdministrativoId);
    if (!auxAdministrativo) {
      console.error('Aux. Administrativo no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el Aux. Administrativo ${auxAdministrativo.nombreCompleto}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      auxAdministrativoId: auxAdministrativoId,
      auxAdministrativoNombre: `${auxAdministrativo.nombreCompleto}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };

  const handleActualizarGrupoClickPsicoSocial = (grupoId, psicoSocId) => {
    const psicoSocial = apoyoPsicosocial.find(psicoSoc => psicoSoc.id === psicoSocId);
    if (!psicoSocial) {
      console.error('PsicoSocial no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el psicosocial ${psicoSocial.nombreCompleto}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      psicoSocId: psicoSocId,
      psicoSocNombre: `${psicoSocial.nombreCompleto}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };

  const handleActualizarGrupoClickNutricionista = (grupoId, nutricionistaId) => {
    const nutricionista = nutricionistas.find(nutri => nutri.id === nutricionistaId); // Cambié el nombre a nutricionistas
    if (!nutricionista) {
      console.error('Nutricionista no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el nutricionista ${nutricionista.nombreCompleto}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      nutricionistaId: nutricionistaId,
      nutricionistaNombre: `${nutricionista.nombreCompleto}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };

  const handleActualizarGrupoClickApoyoNutricional = (grupoId, apoyoNutricionalId) => {
    const apoyoNutricionalSelected = apoyoNutricional.find(apoyo => apoyo.id === apoyoNutricionalId);
    if (!apoyoNutricionalSelected) {
      console.error('Apoyo Nutricional no encontrado');
      return;
    }
    const notificacionMensaje = `Guardando el apoyo nutricional ${apoyoNutricionalSelected.nombreCompleto}`;
    notificacionGuardando(notificacionMensaje);
    const datosActualizados = {
      apoyoNutricionalId: apoyoNutricionalId,
      apoyoNutricionalNombre: `${apoyoNutricionalSelected.nombreCompleto}`
    };
    google.script.run.withSuccessHandler(response => {
      console.log('Respuesta del servidor:', response);
      Swal.fire({
        title: response.titulo,
        text: response.descripcion,
        icon: response.icono || 'info',
        timer: 2000,
        timerProgressBar: true
      });
    })
    .withFailureHandler(error => {
      console.error('Error al actualizar grupo:', error);
      Swal.fire({
        title: 'Ops ha ocurrido un error!',
        text: 'Por favor contacte a soporte.',
        icon: 'error'
      });
    })
    .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };
  

  // Definir las columnas de la tabla de grupos (Grupos Vs Contrato)
  const gruposColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
      render: (text, record) => (
        <Tooltip title={record.groupName}>
          <span>{record.groupName}</span>
        </Tooltip>
      ),
    },
    {
      title: 'Fecha de Creación',
      dataIndex: 'fechaCreacion',
      key: 'fechaCreacion',
      render: (text, record) => formatFecha(record.fechaCreacion),
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato',
      key: 'contractInfo',
      render: (text, record) => {
        const contrato = record.contractId ? contractData.find(contract => contract.id === record.contractId) : null;
        const isEditable = selectedContracts[record.id] !== undefined;
        const selectedValue = isEditable ? selectedContracts[record.id] : (contrato ? contrato.id : undefined);
        const tooltipText = contrato
          ? `El contrato asociado al grupo es ${contrato.contractNumber} - ${contrato.nombreDelContrato}`
          : 'Se debe asociar el grupo a un contrato';
        const tooltipColor = contrato ? 'green' : 'red';

        return (
          <div>
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Select
                placeholder="Seleccionar contrato 📄"
                style={{ width: 200 }}
                onChange={value => handleContractSelect(record.id, value)}
                value={selectedValue}
                disabled={contrato && !isEditable}
              >
                {contractData.map(contract => (
                  <Select.Option key={contract.id} value={contract.id}>
                    {`${contract.contractNumber} - ${contract.nombreDelContrato}`}
                  </Select.Option>
                ))}
              </Select>
            </Tooltip>
            {contrato ? (
              <Tooltip title={tooltipText} color={tooltipColor}>
                <Button
                  type="primary"
                  onClick={() => {
                    if (isEditable) {
                      handleActualizarGrupoClick(record.id, selectedContracts[record.id]);
                    } else {
                      setSelectedContracts(prevState => ({
                        ...prevState,
                        [record.id]: record.contractId
                      }));
                    }
                  }}
                  style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
                >
                  {isEditable ? 'Actualizar Grupo' : 'Editar'}
                </Button>
              </Tooltip>
            ) : (
              <Button
                type="primary"
                onClick={() => handleActualizarGrupoClick(record.id, selectedContracts[record.id])}
                style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
                disabled={!selectedContracts[record.id]}
              >
                Actualizar Grupo
              </Button>
            )}
          </div>
        );
      },
    },
  ];

  // Definir las columnas de la tabla de grupos (Grupos Vs Coordinador)
  const gruposCoordinadorColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato Asociado',
      dataIndex: 'contratoGrupoMunicipio',
      key: 'contratoGrupoMunicipio',
      render: (text, record) => (
        record.contratoGrupoMunicipio ? record.contratoGrupoMunicipio : '(Sin contrato asociado)'
      ),
    },
    {
      title: 'Seleccionar Coordinador',
      key: 'selectCoordinador',
      render: (text, record) => {
        const coordinador = record.coordinadorId ? coordinadores.find(coordinador => coordinador.id === record.coordinadorId) : null;
        console.log("record.coordinadorId ", record.coordinadorId );
        console.log("record.coordinadorId ", record.coordinadorId );
        const isEditable = selectedContractsCoordinador[record.id] !== undefined;
        const selectedValue = isEditable ? selectedContractsCoordinador[record.id] : (coordinador ? coordinador.id : undefined);
        const tooltipText = coordinador
          ? `El coordinador asociado al grupo es ${coordinador.nombreCompleto}`
          : 'Se debe asociar el grupo a un coordinador';
        const tooltipColor = coordinador ? 'green' : 'red';

        return (
          <div>
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Select
                placeholder="Selecciona coordinador 📄"
                style={{ width: 200 }}
                onChange={value => handleContractSelectCoordinador(record.id, value)}
                value={selectedValue}
                disabled={coordinador && !isEditable}
              >
                {coordinadores.map(coordinador => (
                  <Select.Option key={coordinador.id} value={coordinador.id}>
                    {`${coordinador.nombreCompleto}`}
                  </Select.Option>
                ))}
              </Select>
            </Tooltip>
            {coordinador ? (
              <Tooltip title={tooltipText} color={tooltipColor}>
                <Button
                  type="primary"
                  onClick={() => {
                    if (isEditable) {
                      handleActualizarGrupoClickCoordinador(record.id, selectedContractsCoordinador[record.id]);
                    } else {
                      setSelectedContractsCoordinador(prevState => ({
                        ...prevState,
                        [record.id]: record.coordinadorId
                      }));
                    }
                  }}
                  style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
                >
                  {isEditable ? 'Actualizar' : 'Editar'}
                </Button>
              </Tooltip>
            ) : (
              <Button
                type="primary"
                onClick={() => handleActualizarGrupoClickCoordinador(record.id, selectedContractsCoordinador[record.id])}
                style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
                disabled={!selectedContractsCoordinador[record.id]}
              >
                Actualizar
              </Button>
            )}
          </div>
        );
      },
    },
];

// Columna con lógica específica para Aux. Administrativo
const auxAdministrativoColumns = [
  {
    title: 'Nombre del Grupo',
    dataIndex: 'groupName',
    key: 'groupName',
  },
  {
    title: 'Código Cuentame',
    dataIndex: 'cuentameCode',
    key: 'cuentameCode',
  },
  {
    title: 'Contrato Asociado',
    dataIndex: 'contratoGrupoMunicipio',
    key: 'contratoGrupoMunicipio',
    render: (text, record) => (
      record.contratoGrupoMunicipio ? record.contratoGrupoMunicipio : '(Sin contrato asociado)'
    ),
  },
  {
    title: 'Seleccionar Aux. Administrativo',
    key: 'selectAuxAdministrativo',
    render: (text, record) => {
      const auxAdministrativo = record.auxAdministrativoId ? auxAdministrativos.find(aux => aux.id === record.auxAdministrativoId) : null;
      const isEditable = selectedContractsAuxAdministrativo[record.id] !== undefined;
      const selectedValue = isEditable ? selectedContractsAuxAdministrativo[record.id] : (auxAdministrativo ? auxAdministrativo.id : undefined);
      const tooltipText = auxAdministrativo
        ? `El Aux. Administrativo asociado al grupo es ${auxAdministrativo.nombreCompleto}`
        : 'Se debe asociar el grupo a un Aux. Administrativo';
      const tooltipColor = auxAdministrativo ? 'green' : 'red';

      return (
        <div>
          <Tooltip title={tooltipText} color={tooltipColor}>
            <Select
              placeholder="Selecciona Aux. Administrativo 📄"
              style={{ width: 200 }}
              onChange={value => handleContractSelectAuxAdministrativo(record.id, value)}
              value={selectedValue}
              disabled={auxAdministrativo && !isEditable}
            >
              {auxAdministrativos.map(aux => (
                <Select.Option key={aux.id} value={aux.id}>
                  {`${aux.nombreCompleto}`}
                </Select.Option>
              ))}
            </Select>
          </Tooltip>
          {auxAdministrativo ? (
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Button
                type="primary"
                onClick={() => {
                  if (isEditable) {
                    handleActualizarGrupoClickAuxAdministrativo(record.id, selectedContractsAuxAdministrativo[record.id]);
                  } else {
                    setSelectedContractsAuxAdministrativo(prevState => ({
                      ...prevState,
                      [record.id]: record.auxAdministrativoId
                    }));
                  }
                }}
                style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
              >
                {isEditable ? 'Actualizar' : 'Editar'}
              </Button>
            </Tooltip>
          ) : (
            <Button
              type="primary"
              onClick={() => handleActualizarGrupoClickAuxAdministrativo(record.id, selectedContractsAuxAdministrativo[record.id])}
              style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
              disabled={!selectedContractsAuxAdministrativo[record.id]}
            >
              Actualizar
            </Button>
          )}
        </div>
      );
    },
  },
];

// Columna con lógica específica para Aux. Administrativo
  const gruposPsicoSocialColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato Asociado',
      dataIndex: 'contratoGrupoMunicipio',
      key: 'contratoGrupoMunicipio',
      render: (text, record) => (
        record.contratoGrupoMunicipio ? record.contratoGrupoMunicipio : '(Sin contrato asociado)'
      ),
    },
    {
      title: 'Seleccionar PsicoSocial',
      key: 'selectPsicoSocial',
      render: (text, record) => {
        const psicoSocial = record.psicoSocId ? apoyoPsicosocial.find(psicoSoc => psicoSoc.id === record.psicoSocId) : null;
        const isEditable = selectedContractsApoyoPsicosocial[record.id] !== undefined;
        const selectedValue = isEditable ? selectedContractsApoyoPsicosocial[record.id] : (psicoSocial ? psicoSocial.id : undefined);
        const tooltipText = psicoSocial
          ? `El psicosocial asociado al grupo es ${psicoSocial.nombreCompleto}`
          : 'Se debe asociar el grupo a un psicosocial';
        const tooltipColor = psicoSocial ? 'green' : 'red';
  
        return (
          <div>
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Select
                placeholder="Selecciona PsicoSocial 📄"
                style={{ width: 200 }}
                onChange={value => handleContractSelectPsicoSocial(record.id, value)}
                value={selectedValue}
                disabled={psicoSocial && !isEditable}
              >
                {apoyoPsicosocial.map(psicoSoc => (
                  <Select.Option key={psicoSoc.id} value={psicoSoc.id}>
                    {`${psicoSoc.nombreCompleto}`}
                  </Select.Option>
                ))}
              </Select>
            </Tooltip>
            {psicoSocial ? (
              <Tooltip title={tooltipText} color={tooltipColor}>
                <Button
                  type="primary"
                  onClick={() => {
                    if (isEditable) {
                      handleActualizarGrupoClickPsicoSocial(record.id, selectedContractsApoyoPsicosocial[record.id]);
                    } else {
                      setSelectedContractsApoyoPsicosocial(prevState => ({
                        ...prevState,
                        [record.id]: record.psicoSocId
                      }));
                    }
                  }}
                  style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
                >
                  {isEditable ? 'Actualizar' : 'Editar'}
                </Button>
              </Tooltip>
            ) : (
              <Button
                type="primary"
                onClick={() => handleActualizarGrupoClickPsicoSocial(record.id, selectedContractsApoyoPsicosocial[record.id])}
                style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
                disabled={!selectedContractsApoyoPsicosocial[record.id]}
              >
                Actualizar
              </Button>
            )}
          </div>
        );
      },
    },
  ];

  // Columna con lógica específica para nutri
  const nutricionistaColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato Asociado',
      dataIndex: 'contratoGrupoMunicipio',
      key: 'contratoGrupoMunicipio',
      render: (text, record) => (
        record.contratoGrupoMunicipio ? record.contratoGrupoMunicipio : '(Sin contrato asociado)'
      ),
    },
    {
      title: 'Seleccionar Nutricionista',
      key: 'selectNutricionista',
      render: (text, record) => {
        const nutricionista = record.nutricionistaId ? nutricionistas.find(nutri => nutri.id === record.nutricionistaId) : null; // Cambié el nombre a nutricionistas
        const isEditable = selectedContractsNutricionista[record.id] !== undefined;
        const selectedValue = isEditable ? selectedContractsNutricionista[record.id] : (nutricionista ? nutricionista.id : undefined);
        const tooltipText = nutricionista
          ? `El nutricionista asociado al grupo es ${nutricionista.nombreCompleto}`
          : 'Se debe asociar el grupo a un nutricionista';
        const tooltipColor = nutricionista ? 'green' : 'red';
  
        return (
          <div>
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Select
                placeholder="Selecciona Nutricionista 📄"
                style={{ width: 200 }}
                onChange={value => handleContractSelectNutricionista(record.id, value)}
                value={selectedValue}
                disabled={nutricionista && !isEditable}
              >
                {nutricionistas.map(nutri => ( // Cambié el nombre a nutricionistas
                  <Select.Option key={nutri.id} value={nutri.id}>
                    {`${nutri.nombreCompleto}`}
                  </Select.Option>
                ))}
              </Select>
            </Tooltip>
            {nutricionista ? (
              <Tooltip title={tooltipText} color={tooltipColor}>
                <Button
                  type="primary"
                  onClick={() => {
                    if (isEditable) {
                      handleActualizarGrupoClickNutricionista(record.id, selectedContractsNutricionista[record.id]);
                    } else {
                      setSelectedContractsNutricionista(prevState => ({
                        ...prevState,
                        [record.id]: record.nutricionistaId
                      }));
                    }
                  }}
                  style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
                >
                  {isEditable ? 'Actualizar' : 'Editar'}
                </Button>
              </Tooltip>
            ) : (
              <Button
                type="primary"
                onClick={() => handleActualizarGrupoClickNutricionista(record.id, selectedContractsNutricionista[record.id])}
                style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
                disabled={!selectedContractsNutricionista[record.id]}
              >
                Actualizar
              </Button>
            )}
          </div>
        );
      },
    },
  ];

  const apoyoNutricionalColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato Asociado',
      dataIndex: 'contratoGrupoMunicipio',
      key: 'contratoGrupoMunicipio',
      render: (text, record) => (
        record.contratoGrupoMunicipio ? record.contratoGrupoMunicipio : '(Sin contrato asociado)'
      ),
    },
    {
      title: 'Seleccionar Apoyo Nutricional',
      key: 'selectApoyoNutricional',
      render: (text, record) => {
        const apoyoNutricional = record.apoyoNutricionalId ? apoyoNutricional.find(apoyo => apoyo.id === record.apoyoNutricionalId) : null;
        const isEditable = selectedContractsApoyoNutricional[record.id] !== undefined;
        const selectedValue = isEditable ? selectedContractsApoyoNutricional[record.id] : (apoyoNutricional ? apoyoNutricional.id : undefined);
        const tooltipText = apoyoNutricional
          ? `El apoyo nutricional asociado al grupo es ${apoyoNutricional.nombreCompleto}`
          : 'Se debe asociar el grupo a un apoyo nutricional';
        const tooltipColor = apoyoNutricional ? 'green' : 'red';
  
        return (
          <div>
            <Tooltip title={tooltipText} color={tooltipColor}>
              <Select
                placeholder="Selecciona Apoyo Nutricional 📄"
                style={{ width: 200 }}
                onChange={value => handleContractSelectApoyoNutricional(record.id, value)}
                value={selectedValue}
                disabled={apoyoNutricional && !isEditable}
              >
                {apoyoNutricional.map(apoyo => (
                  <Select.Option key={apoyo.id} value={apoyo.id}>
                    {`${apoyo.nombreCompleto}`}
                  </Select.Option>
                ))}
              </Select>
            </Tooltip>
            {apoyoNutricional ? (
              <Tooltip title={tooltipText} color={tooltipColor}>
                <Button
                  type="primary"
                  onClick={() => {
                    if (isEditable) {
                      handleActualizarGrupoClickApoyoNutricional(record.id, selectedContractsApoyoNutricional[record.id]);
                    } else {
                      setSelectedContractsApoyoNutricional(prevState => ({
                        ...prevState,
                        [record.id]: record.apoyoNutricionalId
                      }));
                    }
                  }}
                  style={{ marginTop: 8, backgroundColor: isEditable ? '#1890ff' : '#fff', color: isEditable ? '#fff' : '#000' }}
                >
                  {isEditable ? 'Actualizar' : 'Editar'}
                </Button>
              </Tooltip>
            ) : (
              <Button
                type="primary"
                onClick={() => handleActualizarGrupoClickApoyoNutricional(record.id, selectedContractsApoyoNutricional[record.id])}
                style={{ marginTop: 8, backgroundColor: '#1890ff', color: '#fff' }}
                disabled={!selectedContractsApoyoNutricional[record.id]}
              >
                Actualizar
              </Button>
            )}
          </div>
        );
      },
    },
  ];

  return (
    <div className="flex flex-col items-center justify-center p-4 bg-gray-100 min-h-screen">
      <h2 className="font-bold text-2xl mb-4">ZONA DE RELACIONES</h2>
      <div className="w-full max-w-screen-lg flex flex-col gap-4">
        <Collapse accordion>
          <Panel header="Grupos Vs Contrato" key="1" style={{ backgroundColor: '#e6f2ff' }}>
            <Input.Search
              placeholder="Buscar por nombre de grupo ✍🏽"
              value={searchTextGrupos}
              onChange={e => handleSearchGrupos(e.target.value)}
              className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={gruposColumns}
              dataSource={filteredGruposData.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>

          <Panel header="Grupos Vs Coordinador" key="2" style={{ backgroundColor: '#d9ffcc' }}>
            <Input.Search
              placeholder="Buscar por nombre de grupo ✍🏽"
              value={searchTextDocente}
              onChange={e => handleSearchCoordinador(e.target.value)}
              className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={gruposCoordinadorColumns}
              dataSource={filteredGruposDataCoordinador.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>

          <Panel header="Grupos Vs Aux. Administrativo" key="3" style={{ backgroundColor: '#f0ccff' }}>
            <Input.Search
             placeholder="Buscar por nombre de grupo ✍🏽"
             value={searchTextAuxAdmin}
             onChange={e => handleSearchAuxAdmin(e.target.value)}
             className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={auxAdministrativoColumns}
              dataSource={filteredGruposDataAuxAdmin.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>

          <Panel header="Grupos Vs PsicoSocial" key="4" style={{ backgroundColor: '#ffffcc' }}>
            <Input.Search
             placeholder="Buscar por nombre de grupo ✍🏽"
             value={searchTextApoyoPsicosocial}
             onChange={e => handleSearchPsicoSocial(e.target.value)}
             className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={gruposPsicoSocialColumns}
              dataSource={filteredGruposDataApoyoPsicosocial.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>

         
            <Panel header="Grupos Vs Nutricionista" key="5" style={{ backgroundColor: '#ffffcc' }}>
              <Input.Search
                placeholder="Buscar por nombre de grupo ✍🏽"
                value={searchTextNutricionista}
                onChange={e => handleSearchNutricionista(e.target.value)}
                className="mb-2 rounded border border-gray-300"
              />
              <Table
                columns={nutricionistaColumns}
                dataSource={filteredGruposDataNutricionista.map((data, index) => ({ ...data, key: index }))}
                pagination={{ pageSize: 3 }}
              />
            </Panel>

            <Panel header="Grupos Vs Apoyo Nutricional" key="5" style={{ backgroundColor: '#ffffcc' }}>
  <Input.Search
    placeholder="Buscar por nombre de grupo ✍🏽"
    value={searchTextApoyoNutricional}
    onChange={e => handleSearchApoyoNutricional(e.target.value)}
    className="mb-2 rounded border border-gray-300"
  />
  <Table
    columns={apoyoNutricionalColumns}
    dataSource={filteredGruposDataApoyoNutricional.map((data, index) => ({ ...data, key: index }))}
    pagination={{ pageSize: 3 }}
  />
</Panel>


        </Collapse>
      </div>
    </div>
  );
};

//</script>
