//<script type="text/jsx">

const obtenerContratos = (setContractData) => {
  notificacionObteniendoDatos("Obteniendo la información de contratos desde el servidor");
  google.script.run
    .withSuccessHandler(res => {
      try {
        const contratos = JSON.parse(res);
        contratos.sort((a, b) => (a.nombreDelContrato > b.nombreDelContrato) ? 1 : -1);
        setContractData(contratos);
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarContratos();
};

const obtenerRRHH = (setRrhhData) => {
  notificacionObteniendoDatos("Obteniendo lista de RRHH desde el servidor");
  google.script.run
    .withSuccessHandler(res => {
      try {
        const rrhh = JSON.parse(res);
        rrhh.sort((a, b) => (a.nombreCompleto > b.nombreCompleto) ? 1 : -1);
        setRrhhData(rrhh);
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarRRHH();
};

const obtenerGrupos = (setGruposData) => {
  notificacionObteniendoDatos("Obteniendo lista de grupos desde el servidor");
  google.script.run
    .withSuccessHandler(res => {
      try {
        const grupos = JSON.parse(res);
        grupos.sort((a, b) => (a.nombreGrupo > b.nombreGrupo) ? 1 : -1);
        setGruposData(grupos);
        Swal.close();
      } catch (error) {
        console.error('Error parsing JSON:', error);
        Swal.close();
      }
    })
    .listarGrupos();
};

function Relaciones() {
  const [contractData, setContractData] = useState([]);
  const [gruposData, setGruposData] = useState([]);
  const [rrhhData, setRrhhData] = useState([]);
  const [selectedContracts, setSelectedContracts] = useState({});
  const [searchTextGrupos, setSearchTextGrupos] = useState('');
  const [searchTextrrhh, setSearchTextrrhh] = useState('');
  const history = useHistory();
  const Tooltip = window.antd.Tooltip;
  const { Panel } = Collapse;
  const { Option } = window.antd.Select;

  useEffect(() => {
    obtenerContratos(setContractData);
    obtenerRRHH(setRrhhData);
    obtenerGrupos(setGruposData);
  }, []);

  const formatFecha = (fecha) => {
    const date = new Date(fecha);
    const day = String(date.getDate()).padStart(2, '0');
    const monthNames = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];
    const month = monthNames[date.getMonth()];
    const year = date.getFullYear();
    return `${day}/${month}/${year}`;
  };


  const handleSearchGrupos = (value) => {
    setSearchTextGrupos(value);
    if (value === '') {
      obtenerGrupos(setGruposData);
    } else {
      const filteredGrupos = gruposData.filter(grupo =>
        grupo.groupName.toLowerCase().includes(value.toLowerCase())
      );
      setGruposData(filteredGrupos);
    }
  };

  const handleSearchRRHH = (value) => {
    setSearchTextrrhh(value);
    if (value === '') {
      obtenerRRHH(setRrhhData);
    } else {
      const filteredRRHH = rrhhData.filter(rrhh =>
        rrhh.fullName.toLowerCase().includes(value.toLowerCase())
      );
      setRrhhData(filteredRRHH);
    }
  };

  const handleContractSelect = (groupId, value) => {
    setSelectedContracts(prevState => ({
      ...prevState,
      [groupId]: value
    }));
  };


  const handleActualizarGrupoClick = (grupoId, contratoId) => {
    const datosActualizados = {
      contractId: contratoId
     
    };

   
    google.script.run
      .withSuccessHandler(response => {
      
        console.log('Respuesta del servidor:', response);
        Swal.fire({
          title: response.titulo,
          text: response.descripcion,
          icon: response.icono || 'info',
          timer: 2000,
          timerProgressBar: true
        });
      })
      .withFailureHandler(error => {
        console.error('Error al actualizar grupo:', error);
        Swal.fire({
          title: 'Ops ha ocurrido un error!',
          text: 'Por favor contacte a soporte.',
          icon: 'error'
        });
      })
      .actualizarGrupo(grupoId, JSON.stringify(datosActualizados));
  };


  const gruposColumns = [
    {
      title: 'Nombre del Grupo',
      dataIndex: 'groupName',
      key: 'groupName',
    },
    {
      title: 'Fecha de Creación',
      dataIndex: 'fechaCreacion',
      key: 'fechaCreacion',
      render: (text, record) => formatFecha(record.fechaCreacion),
    },
    {
      title: 'Código Cuentame',
      dataIndex: 'cuentameCode',
      key: 'cuentameCode',
    },
    {
      title: 'Contrato',
      key: 'contractInfo',
      render: (text, record) => {
        if (record.contractId) {
          const contrato = contractData.find(contract => contract.id === record.contractId);
          if (contrato) {
            return (
              <div>
                <p>{`${contrato.contractNumber} - ${contrato.nombreDelContrato}`}</p>
              
              </div>
            );
          }
        }
        return (
          <div>
          <Select
            placeholder="Seleccionar contrato 📄"
            style={{ width: 200 }}
            onChange={value => handleContractSelect(record.id, value)}
            value={selectedContracts[record.id]}
          >
            {contractData.map(contract => (
              <Select.Option key={contract.contractNumber} value={contract.id}>
                {`${contract.contractNumber} - ${contract.nombreDelContrato}`}
              </Select.Option>
            ))}
          </Select>
            <Button
            type="primary"
            onClick={() => handleActualizarGrupoClick(record.id, selectedContracts[record.id])}
            style={{ marginTop: 8 }}
            >
            Actualizar Grupo
            </Button>
            </div>
        );
      },
    },
  ];

  const rrhhColumns = [
    {
      title: 'Nombre Completo',
      dataIndex: 'fullName',
      key: 'fullName',
    },
    {
      title: 'Cargo',
      dataIndex: 'cargo',
      key: 'cargo',
    },
    {
      title: 'Acciones',
      key: 'acciones',
      render: (text, record) => (
        <div>
          {/* Aquí se pueden agregar acciones específicas para RRHH */}
        </div>
      ),
    },
  ];

  return (
    <div className="flex flex-col items-center justify-center p-4 bg-gray-100 min-h-screen">
      <h2 className="font-bold text-2xl mb-4">ZONA DE RELACIONES</h2>
      <div className="w-full max-w-screen-lg flex flex-col gap-4">
        <Collapse accordion>
          <Panel header="Grupos" key="2" style={{ backgroundColor: '#ccffcc' }}>
            <Input.Search
              placeholder="Buscar por nombre de grupo ✍🏽"
              value={searchTextGrupos}
              onChange={e => handleSearchGrupos(e.target.value)}
              className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={gruposColumns}
              dataSource={gruposData.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>
          <Panel header="Talento Humano (RRHH)" key="3" style={{ backgroundColor: '#ccccff' }}>
            <Input.Search
              placeholder="Buscar por nombre ✍🏽"
              value={searchTextrrhh}
              onChange={e => handleSearchRRHH(e.target.value)}
              className="mb-2 rounded border border-gray-300"
            />
            <Table
              columns={rrhhColumns}
              dataSource={rrhhData.map((data, index) => ({ ...data, key: index }))}
              pagination={{ pageSize: 3 }}
            />
          </Panel>
        </Collapse>
      </div>
    </div>
  );
}


//</script>
